@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    @variants responsive {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar{
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }

        /* Colors - background color */
        .graybackgroundColor {
            background-color : #141414;
        }
        
        .scrollbackgroundColor {
            background-color : #3a3a3a;
            opacity: 0.6;
        }
    }
}
